// -----------------------------------------------------------------------------
// This file contains all styles related to the input components.
// -----------------------------------------------------------------------------

////
/// This is a group comment will create a new sidebar item in sassdoc.
/// @group Premium cards

.g-premium-card {
  width           : 100%;
  padding         : 20px 15px;
  border-radius   : 5px;
  margin-bottom   : 20px;
  background-color: $white;
  text-align      : center;
  border          : 4px solid;
  border-color    : transparent;
  cursor          : pointer;

  h1 {
    font-size     : 25px;
    margin-bottom : 10px;
    text-transform: uppercase;
    color         : $premium-grey;

    span {
      font-size: 40px;
    }
  }

  p {
    margin-bottom: 30px;
    color        : $premium-grey !important;
  }

  h2 {
    margin-bottom: 25px;
    color        : $premium-grey;

  }
}
