<loaders-css *ngIf="busy" [loader]="'square-spin'"></loaders-css>

<!--Account change password-->
<form #changePasswordForm="ngForm" (onSubmit)="changePassword()" novalidate>
  <div class="row p-account__password">
    <div class="col-9 p-account__password-items">
      <p class="p-account__password-banner">If you would like to change your password, please enter your email and you will receive a email notification
        which will include instructions on resetting your password ! If you do not receive this email, please
        <a>contact us </a>here.</p>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-6">
      <div class="g-input">
        <input type="password" [(ngModel)]="changeForm.current_password" placeholder="Old Password" name="current" #current="ngModel">
      </div>
      <div class="g-input" [class.invalid]="new.touched && !(new.empty) && current.value === new.value">
        <input type="password" [(ngModel)]="changeForm.new_password" placeholder="New Password" name="new" #new="ngModel">
      </div>
      <p class="p-account__password-notification" *ngIf="new.touched && !(new.empty) && current.value === new.value">You new password should not match existent one.</p>
      <div class="g-input" [class.invalid]="new.value !== confirm.value">
        <input type="password" [(ngModel)]="changeForm.confirm_password" placeholder="Confirm New Password" name="confirm" #confirm="ngModel">
      </div>
      <p class="p-account__password-notification" *ngIf="new.touched && !(new.empty) && !confirm.empty && new.value !== confirm.value">You new password should not match existent one.</p>
    </div>
    <div class="col-12 p-account__button">
      <button class="g-btn-default__default-default--fill" type="submit" name="button" (click)="changePassword()">Change Password</button>
    </div>
  </div>
</form>
