<div class="p-account g-main">
  <div class="container">
    <form (onSubmit)="resetPassword()" novalidate>
      <div class="row p-account__password">
        <div class="col-9 p-account__password-items">
          <p>If you would like to change your password, please enter your email and you will receive a email
            notification
            which will include instructions on reseting your password ! If you do not receive this email, please
            <a>contact us </a>here.</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8 col-xs-6">
          <div class="g-input">
            <input type="password" [(ngModel)]="resetForm.password" placeholder="New Password" name="new">
          </div>
          <div class="g-input">
            <input type="password" [(ngModel)]="resetForm.confirm_password" placeholder="Confirm New Password"
                   name="confirm">
          </div>
        </div>
        <div class="col-12 p-account__button">
          <button class="g-btn-default__default-default--fill" type="submit" (click)="resetPassword()">Change Password</button>
        </div>
      </div>
    </form>
  </div>
</div>
