<div class="g-modal">
  <div class="g-modal__container">
    <div class="g-modal__container-head">
      <img src="../assets/img/admin.png" alt="photo">
      <div class="g-modal__container-head__user">
        <h3>{{info.user.name}}</h3>
        <p>{{info.user.email}}</p>
      </div>
      <button class="g-ibtn" type="button">
        <i class="icon-cancel"></i>
      </button>
    </div>
    <div class="g-modal__container-body">
      <h5>{{info.title}}</h5>
      <button class="g-btn-red__full-normal--hollow" type="button">{{info.positiveActionText}}</button>
      <button class="g-btn-gray__full-normal--hollow" type="button">{{info.negativeActionText}}</button>
    </div>
  </div>
</div>
